<<<<<<< HEAD
<<<<<<< HEAD
.box {
    margin-top: 50px;
    margin-bottom: 50px;

    border-style: dashed;

    border: 5px 5px 5px 5px;
    
}
=======
/* Global */

.photo {
    max-width: 100%;
}

.blueText {
    color: rgb(75, 151, 218);
}

.greyText {
    color:rgb(126, 126, 119);
}


>>>>>>> 7002fddb6b564ae83f5e481b0eb91f58d7c42198
=======

=======
>>>>>>> 780b23e5fea0fca0bea8d2ece543e466f1cf1bbb
>>>>>>> 5beeec91aa54ca83020898b832226b7c06caf998
